<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %>
<% end %>

<% @items.each do |item| %>
  <p><%= item.title %> | <%= number_to_currency(item.price.to_f/100) %> | <%= button_to 'Add to Cart', line_items_path(item_id: item) if current_user %></p>
<% end %>

<%= "Signed in as #{current_user.email}" if current_user %>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete if current_user %>
<%= link_to 'Cart', cart_path(current_user.current_cart) if current_user && current_user.current_cart %>
